---
layout: default
title: Members
permalink: /members/
---

{% include wrap.html %}


{% include view_member.html member_list=site.professors member_type="Faculty" %}
{% include view_member.html member_list=site.graduates member_type="Current Graduate Students" %}
{% include view_member.html member_list=site.undergraduates member_type="Current Undergraduate Students" %}
{% include view_member.html member_list=site.alumni member_type="Alumni" %}
{% include view_member.html member_list=site.visiting member_type="Past/Current Visiting Students" %}

{% include view_mascot.html member_list=site.mascots member_type="Lab's Mascots" %}


