---
layout: portfolio
title: Publications
permalink: /publications/
---

<!--
<div class="container mtb">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h2>We create awesome designs to standout your site or product. Check some of our latest works.</h2>
            <br>
            <div class="hline"></div>
        </div>
    </div>
</div><!--/container -->


<div class="container">
    <div class="row">
      <div class="col-md-6"> 
        <h1 class="font-weight-bold text-nd-blue textsc">Publications</h1>
      </div>
      <div class="col-md-6">
        <ul class="list-inline list-social-icons my-0 text-center">
          <li class="text-muted">See also on:</li>
          <li class="list-inline-item my-0 py-0 px-1">
              <a target="_blank" href="https://scholar.google.com/citations?user=mkGmYyAAAAAJ" class="text-primary">
                  <span class="ai ai-google-scholar"></span> Google Scholar
              </a>
          </li>
          <li class="list-inline-item my-0 py-0 px-1">
              <a target="_blank" href="https://dblp.org/pid/115/4772.html" class="text-primary">
                  <span class="ai ai-dblp"></span> DBLP
              </a>  
          </li>
          <li class="list-inline-item my-0 py-0 px-1">
              <a target="_blank" href="https://www.researchgate.net/profile/Joanna_Cecilia_Da_Silva_Santos" class="text-primary">
                  <span class="ai ai-researchgate"></span> Research Gate
              </a>
          </li>
          <li class="list-inline-item my-0 py-0 px-1">
              <a target="_blank" href="https://orcid.org/0000-0001-8743-2516" class="text-primary">
                  <i class="ai ai-orcid"></i> ORCID
              </a>
          </li> 
        </ul>
      </div>
  
    </div>
  
  
      {% assign publications =  site.data.publications.international %} 
      <!-- site.data.publications -->
      {% include list_publications.html %}
          
      <h2 class="font-weight-bold title-shadow">Publications in Brazilian Venues</h2>
      {% assign publications = site.data.publications.brazilian %}
      {% include list_publications.html %}
  
      <!-- For displaying bibtex -->
      <div class="modal" tabindex="-1" id="modalBibtex">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">BibTex</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <pre id="bibtex-content" class="small"></pre>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"><i class="fa-copy"></i> Copy</button>
            </div>
          </div>
        </div>
      </div>
  
  </div>