{%if include.member_list %}
<div class="container mt">
    <div class="row ">
        <h2 class="mb">{{include.member_type}}</h2>
        
        {% for member in include.member_list %}
        <div class="col-lg-3 col-md-3 col-sm-3 centered">
            <div class="he-wrap tpl6 thumbnail" style="max-width: 70%; margin-left: auto; margin-right: auto ;">

            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <h6>{{member.time}}</h6>
            <p style="font-size: 12px;" class="text-muted">
                {{ member.text }}
                {% if member.org %}<br>{{ member.org }}{% endif %}
            </p>
            
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
        
    </div><! --/row -->
</div><! --/container -->
    <!-- <div class="hline"></div> -->
{% endif %}