<div class="col-lg-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
    <h4><i class="fa fa-rss" aria-hidden="true"></i> Subscribe</h4>
    
    <div class="hline"></div>
        <p>
            <p class="rss-subscribe">Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
        </p>
    <div class="spacing"></div>
    <h4><i class="fa fa-tags" aria-hidden="true"></i> Categories</h4>
    <div class="hline"></div>
    {% for category in site.categories %}
        <p>
            <a href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
            <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
        </p>
    {% endfor %}

    <div class="spacing"></div>

    <h4><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Recent Posts</h4>
    <div class="hline"></div>

        {% for post in site.posts limit:4 %}
            <div class="media">
              <div class="pull-left">
                <a href="{{ post.url  | prepend: site.baseurl }}">
                    <img class="media-object"  src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post">
                </a>
              </div>
              <div class="media-body">
                <!-- <h4 class="media-heading">{{post.title}}</h4> -->
                <small><p class="media-heading" style="font-size: 12px; line-height: 1.15em;"><a href="{{ post.url }}">{{ post.title }}</a></p>
                <em class="text-muted">Posted on {{ post.date | date_to_string }}</em></small>
              </div>
            </div>
        {% endfor %}

    <div class="spacing"></div>

    <h4>Popular Tags</h4>
    <div class="hline"></div>
    <p>
    {% for category in site.categories %}
            <a class="btn btn-theme" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>
        {% endfor %}
    </p>
</div>
